.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}


@media (prefers-color-scheme: light) {

.special__title {
  background-image: url("../imgs/stars.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.special__title__sup {
  background-image: url("../imgs/stars.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2rem;
  color: transparent
}


.github__link {
  background-image: url("../imgs/stars.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent
}

}

@media (prefers-color-scheme: dark) {

  .special__title {
    background-image: url("../imgs/sky.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .special__title__sup {
    background-image: url("../imgs/sky.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem;
    color: transparent
  }


  .github__link {
    background-image: url("../imgs/sky.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
  }

  }
