.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 32%;
  padding: 15px;
  background-color: #BAA3A9;
  min-height: 13rem;
}


.remove {
  background-color: #C8A2C8;
  min-height: 13rem;
}

.backlog {
  background-color: #6B6E6F;
  min-height: 13rem;
}



@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .todos {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    margin-top: 1rem;
    background-color: #BAA3A9;
    min-height: 6.5rem;
  }

  .remove {
    background-color: #C8A2C8;
    min-height: 6.5rem;
  }

  .backlog {
    background-color: #6B6E6F;
    min-height: 6.5rem;
  }

}

.dragactive {
  background-color: #87CEEB;
  box-shadow: #072A6C 0px 1px 4px, #072A6C 0px 0px 0px 3px;
}

.headingnormal {
  font-size: 30px;
  /* text-align: center; */
  color: white;
}

.headingactive {
  font-size: 30px;
  color: #072A6C;
}


.dragcomplete {
  background-color: #E7DBCC;
  box-shadow: #072A6C 0px 1px 4px, #072A6C 0px 0px 0px 3px;
}

.dragbacklog {
  background-color: #D2D2CF;
  box-shadow: #072A6C 0px 1px 4px, #072A6C 0px 0px 0px 3px;
}



.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.2s;
}

.drag {
  box-shadow: 0 0 20px black;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__singletext {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__singletext:focus {
  outline: none;
}
